name: test

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup ROS 2
        uses: ros-tooling/setup-ros@v0.7
        with:
          required-ros-distributions: humble

      - name: Create workspace
        run: |
          mkdir -p ros2_ws/src
          cp -r . ros2_ws/src/text_stats_node

      - name: Install dependencies
        run: |
          source /opt/ros/humble/setup.bash
          cd ros2_ws
          rosdep update
          rosdep install --from-paths src --ignore-src -y

      - name: Build
        run: |
          source /opt/ros/humble/setup.bash
          cd ros2_ws
          colcon build

      - name: Test
        run: |
          source /opt/ros/humble/setup.bash
          source ros2_ws/install/setup.bash
          ros2_ws/src/text_stats_node/test/test.bash

